@import "front-end/scss/variables.scss";

.pane-component {
  min-width: 200px;

  .pane-header {
    padding: $padding-base * 4 $padding-base * 8;
    .pane-header-controls {
      float: right;
    }
    background: #E5E5E5;
  }
  .pane-body {
    padding: $padding-base * 4 $padding-base * 8;
  } 
}