.stage-component {
  width: 100%;
  height: 100%;
  float: left;
  background: #FEFEFE;
  position: relative;

  .stage-component-isolate {
    // prevents the canvas content from moving around
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: none;
  }

  > iframe {
    border: none;
    width: 100%;
    height: 100%;
  }
}

.stage-outer {
  background: transparent;
  width: 100%;
  height: 100%;
}

.stage-inner {
  width: 100%;
  height: 100%;
  overflow: visible;
  transform-origin: top left;
}