/**
 * Colors
 */

$mult: 1;

/*$mult: 1.62;*/

$padding-xs: 2px;
$padding-s: 4px;
$padding-r: 8px;
$padding-l: 16px;
$padding-xl: 32px;

$sizes: 0, $mult * 2px, $mult * 4px, $mult * 8px, $mult * 16px, $mult * 32px;
