html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

@keyframes test-keyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  .items {
    color: red;
  }
}

